@import '../../../styles/base.scss';

#mainHeader {
  position: absolute;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  align-items: center;
  padding: 0 1.5rem;

  .right {
    margin-right: 4rem;
    display: flex;
    gap: 2rem;

    .icon {
      cursor: pointer;
      color: #858585;
      font-size: 14px;
    }
  }

  #badge {
    height: 1.75rem;
    transform: scale(-1, 1);
    filter: brightness(1.25);
  }
}
