@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/base.scss';

* {
  margin: 0;
  font-family: Montserrat, serif;
  letter-spacing: 1px;
}

body {
  background: $black;
  background: linear-gradient(0deg, $black 40%, $mirage 100%);
}
