@import '../../../styles/base';

#fitTrackHeader {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid $pearl25;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8rem;

  p {
    margin: 1rem;
    font-size: $default-text;
    font-weight: $semi-bold;
    color: $pearl;
    cursor: pointer;
  }
}

#addWeekModalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #fff;
  box-shadow: $drop-shadow;
}

#addWeekModal {
  h1 {
    margin: 2rem 0 -.5rem 2rem;
    font-weight: $semi-bold;
  }

  #addWeekForm {
    margin: 0 auto;
    padding: 2rem;

    input {
      margin-bottom: 1rem;
      display: block;
      height: 2rem;
      padding: .5rem 1rem;
      width: 100%;
      border: 1px solid $pearl25;
    }
  }
}
