h1 {
    text-transform: uppercase;
    text-align: center;
    top: 7.5%;
    position: absolute;
    width: 100%;
    opacity: .25;
    font-size: 12rem;
    background: -webkit-linear-gradient(270deg, orangered 0%, orangered 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    user-select: none;
    letter-spacing: 4rem;
    filter: brightness(85%);

    @media (max-width: 1500px) {
        font-size: 10rem;
        letter-spacing: 2.5rem;
        top: 5%;
    }
}

section {
    position: absolute;
    width: 32rem;
    height: 24rem;
    left: calc(50% - (32rem * .5));
    top: calc(50% - (24rem * .5));
    text-align: center;
    box-shadow: $drop-shadow;
    border-radius: 1.5rem;
    border: 1px solid orange;

    background: black;
    background: linear-gradient(87deg, black 0%, brown 49%, saddlebrown 100%);

    img {
        filter: drop-shadow(0 0 .5rem black);
        height: 3rem;
        aspect-ratio: 1 / 1;
        margin-top: 4rem;
    }

    h2 {
        text-transform: uppercase;
        font-weight: 600;
        margin: 1rem 0 1.75rem 0;
        letter-spacing: .25rem;
        background: linear-gradient(90deg, orangered 20%, orange 100%);
        filter: drop-shadow(0 0 .5rem black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    form {
        p {
            font-size: 11px;
            margin-top: .5rem;
            font-weight: $medium;
            background: white;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            span {
                background: -webkit-linear-gradient(0deg, orange 0%, orange 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-transform: uppercase;
                font-weight: 700;
                cursor: pointer;
            }
        }

        .form-control {
            border: none;
            background: none;

            &:has(button) {
                position: absolute;
                bottom: 3rem;
            }

            .icon {
                position: absolute;
                color: orange;
                left: 7.25rem;
                margin-top: 1.25rem;
                font-size: 14px;
            }

            input {
                background: none;
                outline: none;
                margin-top: .5rem;
                text-align: center;
                width: 14rem;
                font-size: 11px;
                border: 1px solid orange;
                border-radius: .75rem;
                padding: .75rem 0;
                letter-spacing: 1.75px;
                background: black;
                background: white;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                /*box-shadow: $drop-shadow;*/
                opacity: .85;

                &:focus {
                    border: 1px solid orange;
                    /*transition: $ease-in;*/
                    opacity: 1;
                }

                &::placeholder {
                    /*background: -webkit-linear-gradient(270deg, $silver-chalice 0%, $text-disabled 85%);*/
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &#username {
                    text-transform: capitalize;
                }
            }
        }

        button {
            width: $field-width;
            font-size: $default-text;
            font-weight: $bold;
            box-shadow: $drop-shadow;
            transition: $ease-in;
            letter-spacing: 1.75px;
            background: orangered;
            color: $crowshead;
            background: linear-gradient(90deg, orangered 20%, $zest 100%);
            border: 1px solid $zest75;
            text-transform: uppercase;
            padding: .75rem 0;
            border-radius: .75rem;
            opacity: .95;

            &:hover:not(.disabled) { // TODO :: impl .disabled
            cursor: pointer;
                background: linear-gradient(90deg, orangered 0%, $zest 80%);
                transform: scale(1.0125);
                opacity: 1;
            }
        }
    }
}
