@import 'colour';
@import 'font';
@import 'spacing';

$landing-image: url('../assets/rolling-hills.png');
$drop-shadow: 0 .5rem 2rem -.5rem #000000BF;
$small-screen: 1500px;
$ease-in: .15s ease-in-out;
$default-text: 12px;

* {
  margin: 0;
  font-family: Montserrat, serif;
  letter-spacing: 1px;
}

//body {
//  background: $black;
//  background: linear-gradient(0deg, $black 40%, $mirage 100%);
//}
