@import "../node_modules/../node_modules/@fontsource/montserrat";

@import "../node_modules/@fontsource/montserrat/300.css";
$light: 300;

@import "../node_modules/@fontsource/montserrat/400.css";
$regular: 400;

@import "../node_modules/@fontsource/montserrat/500.css";
$medium: 500;

@import "../node_modules/@fontsource/montserrat/600.css";
$semi-bold: 600;

@import "../node_modules/@fontsource/montserrat/700.css";
$bold: 700;
